@model Test.Models.Position
@using Test.Models
@{
    ViewBag.Title = Model.Position_Name;
}


<table class="table">

    <tr><td>Наименование должности:</td><td>Отдел:</td><td>Список сотрудников на должности:</td></tr>

    <tr>
        <td>@Model.Position_Name</td>
        <td>@Model.Department.Department_Name</td>

        <td>
            <ul>
                @foreach (var c in Model.Employees)
                {

                    <li>@c.Employee_Last_Name</li>

                }
            </ul>
        </td>
    </tr>

</table>

