@model Test.Models.Department
@using Test.Models
@{
    ViewBag.Title = "Добавление новой отдела";
}
<form asp-action="CreateDepartment" asp-controller="department">
    <div class="form-group">
        <label asp-for="Department_Name" class="control-label"></label>
        <input type="text" asp-for="Department_Name" class="form-control" />
        <span asp-validation-for="Department_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department_Location" class="control-label"></label>
        <input type="text" asp-for="Department_Location" class="form-control" />
        <span asp-validation-for="Department_Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" />
    </div>




</form>