@model Test.Models.Department
@using Test.Models
@{
    ViewBag.Title = Model.Department_Name;
}

<table class="table">

    <tr><td>Наименование департамента:</td><td>Адрес:</td><td>Должности:</td></tr>

    <tr>
        <td>@Model.Department_Name</td>
        <td>@Model.Department_Location </td>

        <td>
            <ul>
                @foreach (var c in Model.Positions)
                {

                    <li>@c.Position_Name</li>

                }
            </ul>
        </td>
    </tr>

</table>

