<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .mynav_dropdown {
            float: left;

            overflow: hidden;
        }

            .mynav_dropdown .mynav_dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                width: 160px;
            }

            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn, .mynav_dropbtn:focus {
                background-color: dimgrey;
            }

        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
           @* width: auto;
            height: auto;*@
        }

            .mynav_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .mynav_dropdown-content a:hover {
                    background-color: #ddd;
                }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark box-shadow mb-3">
            <div class="container"
                 }>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn" onclick="myFunction('myDropdown')">
                                    Отделы
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content" id="myDropdown">
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Department" asp-action="ViewDepartments">Просмотреть </a>
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Department" asp-action="CreateDepartment">Создать новый</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn" onclick="myFunction('myDropdown2')">
                                    Должности
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content" id="myDropdown2">
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Position" asp-action="ViewPositions">Просмотреть </a>
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Position" asp-action="CreatePosition">Создать новую</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn" onclick="myFunction('myDropdown3')">
                                    Задачи
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content" id="myDropdown3">
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Task" asp-action="ViewTasks">Просмотреть </a>
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Task" asp-action="CreateTask">Создать новую</a>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn" onclick="myFunction('myDropdown4')">
                                    Сотрудники
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content" id="myDropdown4">
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Employee" asp-action="ViewEmployees">Просмотреть </a>
                                    <a class="nav-link text-black-50" asp-area="" asp-controller="Employee" asp-action="CreateEmployee">Добавить нового</a>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        function myFunction(val) {
            document.getElementById(val).classList.toggle("show");
        }
        window.onclick = function (e) {
            if (!e.target.matches('.mynav_dropbtn')) {
                var myDropdown = document.getElementById(val);
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }              
            }
           
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
