@model Test.Models.Task
@{
    ViewBag.Title = "Добавление новой задачи";
}
<form asp-action="CreateTask" asp-controller="home">
    <div class="form-group">
        <label asp-for="Task_Name" class="control-label"></label>
        <input type="text" asp-for="Task_Name" class="form-control" id="text1" />
        <span asp-validation-for="Task_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task_Priority" class="control-label"></label>
        <input type="number" asp-for="Task_Priority" class="form-control" />
        <span asp-validation-for="Task_Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task_Description" class="control-label"></label>
        <input type="text" asp-for="Task_Description" class="form-control" />
        <span asp-validation-for="Task_Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task_Beginning_Date " class="control-label"></label>
        <input type="date" asp-for="Task_Beginning_Date" class="datefield"/>
    </div>
    <div class="form-group">
        <label asp-for="Task_Ending_Date " class="control-label"></label>
        <input type="date" asp-for="Task_Ending_Date" class="datefield" />
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" />
    </div>
</form>
