@model IEnumerable<Test.Models.Task>
@using Test.Models 

@{
    ViewBag.Title = "Описание";
}
<h2>Описание</h2>
<td>Данный демонстрационный проект представляет собой веб-приложение, имитирующее структуру небольшого предприятия.</td>

