
@model Test.Models.Task
@{
    ViewBag.Title = "Удаление задачи";
}

<div>
    <dl class="dl-horizontal">
        <dt>Наименование задачи</dt>
        <dd>
            @Html.DisplayFor(model => model.Task_Name)
        </dd>

        <dt>Приоритет</dt>
        <dd>
            @Html.DisplayFor(model => model.Task_Priority)
        </dd>
    </dl>

    <div>
        <form asp-controller="Task" asp-action="TaskDelete" method="post">
            <div class="form-group">
                <input type="submit" value="Удалить" />
            </div>
        </form>
    </div>
</div>

